@font-face {
  font-family: 'Oregano-Regular';
  src: url('Oregano-Regular.eot');
  src: url('Oregano-Regular.woff2') format('woff2'),
       url('Oregano-Regular.woff') format('woff'),
       url('Oregano-Regular.ttf') format('truetype'),
       url('Oregano-Regular.svg#Oregano-Regular') format('svg'),
       url('Oregano-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

